body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-image: url("./oliver-sjostrom-y-GMWtWW_H8-unsplash.jpg"); /* The image used */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #0B1B1B !important;
}

.wrapper{
  background-color: rgba(240, 248, 255, 0.938);
  padding: 20px;
  border-radius: 10px;
}

input{
  background-color: rgba(255, 255, 255, 0.479) !important;
}
select{
  background-color: rgba(255, 255, 255, 0.466) !important;
}
.card{
  background-color: rgba(255, 255, 255, 0.904) !important;
}
.navtext{
  opacity: 0.9;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 3px;
}
.navtext:hover{
 opacity: 1;
 font-weight: 600;
}
.background{
  background-color: rgba(131, 127, 127, 0.931) !important;
  color:white !important;
}
